.app.light {
    --bg-color: #c1c1c1;
    --inverted-bg-color: #0e0e75;
    --primary-color: #2d08c4;
    --secondary-color: #3660f5;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #06ee06;
}
